* {
    margin: 0%;
    font-family: 'Trebuchet MS';

}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('C:\Users\asusn\Desktop\2 SEMESTRE\SPRINT1-2S\Login\public\assets\trebuched_ms.woff') format('woff');
}





main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 105vh;
    background-color: rgb(231, 231, 231);
}


.btnBack {
    position: absolute;
    top: 3%;
    left: 2%;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.2s;
    z-index: 10;
  }

.btnBack:hover {
    opacity: 0.9;
  }

.caixa_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(19, 19, 19);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    color: rgb(235, 235, 235);
    width: 40%;
    height: 640px;
    margin-top: 13vh;
    border-radius: 20px;
    position: absolute;
   

}


.arte_de_fundo {
    display: flex;
    align-items: start;
    justify-content: space-between;

    background-image: url('../assets/cadastro/img.jpg');
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 100%;
}


.retorno {
    margin-top: 100px;
    margin-left: 30px;
    width: 3%;
    opacity: 20%;
}

.retorno:hover {
    opacity: 100%;
    padding: 3px;
    transition: 0.5;
}

/* Informações do Login */


/* LINKS */
a {
    color: rgb(83, 142, 245);
}

.botao_retorno {
    text-decoration: none;
    color: white;
}

input {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background: none;
    outline: unset;
    font-size: 18px;
    text-shadow: 0px 0px 1px white;
    color: white;
    padding: 0 25px;
}

input::placeholder {
    color: rgba(171, 171, 171, 0.616)

}

button {
    border: none;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 30%;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4199e1;
    box-shadow: 3px 4px rgb(99, 99, 99);


}

button:hover {
background-color: #2180cf;
transition: 0.2s;
box-shadow: 3px 4px rgb(81, 81, 81);
}

button:active {
    background-color: rgb(36, 151, 208);
    box-shadow: 2px 3px rgb(53, 53, 53);
    transform: translateY(4px);
    transition: 0.2s;
  }

  .renderwatch-logo {
    margin-top: -50px;
  }

.div_bem_vindo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(4, 45, 81, 0.3);
   
    margin-top: -30px;
    border-bottom: 2px solid rgb(87, 87, 87);
    width: 40%;

}


.div_Input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 20px;
    margin-top: 20px;
}

.div_telefone{
    flex-direction: row;
    align-items: center;
}
.DD{
    width: 20%;
    margin-right: 5px;
}

.alerta {
    color: rgb(222, 10, 38);
    font-size: 15px;
    margin-bottom: -20px;
    

}



.div_cadastre {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 20px;
}

.div_img {
    height: 40px;
    width: 10%;
    background-image: url('../assets/Logo_Branco.png');
    background-size: cover;
    margin-top: 10px;

    animation: logo 3s infinite ease-in-out;
    background-color: rgb(0, 0, 0);
}

.img_logo {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1200px) {

.caixa_login {
    width: 40%;
}

}

@media only screen and (max-width: 900px) {

.caixa_login {
    width: 50%;
}

}

@media only screen and (max-width: 700px) {

.caixa_login {
    width: 60%;
}

.div_bem_vindo {
    width: 48%;

}

button {
    height: 30px;
    width: 30%;



}

}

@media only screen and (max-width: 500px) {

.caixa_login {
    width: 75%;
    height: 490px;
}

.div_bem_vindo {
    width: 55%;

}

button {
    height: 30px;
    width: 30%;



}

}

@media only screen and (max-width: 350px) {

.caixa_login {
    width: 75%;
    height: 420px;
}

.div_bem_vindo {
font-size: 24px;

}

input {
    height: 25px;
    font-size: 15px;
}

button {
    height: 30px;
    width: 30%;
    font-size: 15px;
    width: 40%;
}

.div_cadastre {
    font-size: 12px;
}

.renderwatch-logo {
    width: 160px;
}

}