.dashboard-download-icon{
    width: 30px; 
    padding: 5px; 
    margin-left: 35px;
  }
  
.dashboard-account-icon{
    width: 30px; 
    padding: 5px; 
    margin-left: 0px;
}

.titulo{
  width: 15vw;
  margin: 15vh auto;
  border-bottom: 3px solid rgb(83, 142, 245);
}

.titulo h1{
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.container-alerta{
  display: flex;
  width: 50vw;
  color: white;
  margin: 10vh auto;
}

.caixa-alerta{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  width: 15vw;
  padding: 10px;
  height: 12vh;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  border-top: 5px solid rgb(222, 0, 0);
}

.caixa-alerta:nth-child(n + 3){
  border: none;
}

.caixa-alerta p{
  text-transform: uppercase;
  font-size: 14px;
}

.caixa-alerta .span_alertas{
  align-items: left;
  display: flex;
  justify-content: left;
  font-size: 25px;
}

.container-graficos{
  justify-content: center;
  display: flex;
  height: 50vh;
}

.grafico{
  position: relative; 
  height:45vh; 
  width:40vw; 
  padding: 19px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  background-color: rgb(33, 33, 33);
  margin: 5px;
  margin-left: 25px;
}

.grafico span{
  font-size: 20px;
  color: rgb(177, 174, 174);
}

.container-maquinas{
  display: flex;
  width: 50vw;
  color: white;
  margin: 5vh auto;
}

.caixa-maquina{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  width: 15vw;
  padding: 10px;
  height: 12vh;
  margin-left: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  cursor: pointer;
}

.caixa-maquina p{
  text-transform: uppercase;
  font-size: 14px;
}

.caixa-maquina .span_maquina{
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.caixa-maquina:hover{
  border-bottom: 3px solid rgb(83, 142, 245);
}