#section-video {
  top: 900px;
  width: 100%;
  height: 600px;
  background-color: black;
  z-index: 2;
}

.div-texto-inicial-index {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.texto-inicial-index {
  margin-left: 68%;
  color: rgb(241, 241, 241);
  text-shadow: 2px 2px 1.5px black;
  font-size: clamp(8px, 2vw, 35px);
  width: 30%;
  text-align: left;
  margin-top: 20vh;
}

#imagem-inicial-index {
  display: flex;
  width: 100%;
}

#video-renderwatch-index {
  display: flex;
  width: 100%;
  height: 100%;
}

#tres-cards-index {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-around;
  width: 100%;
}

.texto-sobre {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.7);
  width: 30%;
  height: 50%;
  justify-content: center;
  z-index: 99;
  border-radius: 8px;
  margin-left: 35%;
  margin-top: 8%;
}

@media only screen and (max-width: 900px) {

  .texto-sobre{
    width: 40%;
    margin-left: 30%;
  }
  
}

@media only screen and (max-width: 800px) {

  #imagem-inicial-index {
    margin-top: 90px;

  }

  .texto-inicial-index {
    margin-top: 75px;
  }

  .texto-sobre{
    width: 55%;
    margin-left: 25%;
  }

}

@media only screen and (min-width: 700px) {
  #tres-cards-index {
    display: flex;

  }

}

@media only screen and (max-width: 600px) {

  .texto-inicial-index {
    margin-top: 55px;
  }
  

}

@media only screen and (max-width: 500px) {

  .texto-inicial-index {
    margin-top: 50px;
  }
  

}

.card-index {
  display: flex;
  flex-direction: column;
  color: rgb(241, 241, 241);
  align-items: center;
  font-size: 25px;
  margin-bottom: 40px;
}

.div_gradiente {
  display: flex;
  margin-top: 0px;
  width: 100%;
  height: 20px;
  background: linear-gradient(157deg, rgba(11, 172, 206, 1) 0%, rgba(214, 91, 162, 1) 50%, rgba(237, 223, 60, 1) 100%);
}

@media only screen and (max-width: 450px) {
  .div_gradiente {
    margin-top: -134px;
  }

  .texto-sobre{
    width: 55%;
    margin-left: 25%;
    height: 30%;
    margin-top: 40%;
  }
  
}

@media only screen and (max-width: 400px) {
  .div-texto-inicial-index {
    display: flex;
    flex-direction: row;
  }
  
  .texto-inicial-index {
    border-bottom: 1px solid white;
    text-align: justify;
    margin-left: 15%;
    color: rgb(241, 241, 241);
    text-shadow: 2px 2px 1.5px black;
    font-size: clamp(8px, 2vw, 35px);
    width: 30%;
    text-align: left;
    margin-top: 280px;
  }
}

@media only screen and (max-width: 500px) {

  .texto-inicial-index {
    border-bottom: 1px solid white;
    text-align: justify;
    margin-left: 15%;
    color: rgb(241, 241, 241);
    text-shadow: 2px 2px 1.5px black;
    font-size: clamp(8px, 2vw, 35px);
    width: 30%;
    text-align: left;
    margin-top: 240px;
  }

}

#background-video {
  top: 2050px;
  width: 100%;
  height: 600px;
  background-color: rgb(28, 28, 28);
  z-index: 2;
  margin-bottom: 40px;
}

#video-background-index {
  display: flex;
  width: 100%;
  height: 100%;
  -o-filter: blur(10px);
  filter: blur(5px);
  overflow: hidden;
}
