* {
    margin: 0%;
    font-family: 'Trebuchet MS';

}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('../fonts/trebuched_ms.woff') format('woff');
}

body {
    background-color: rgb(212, 202, 202);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}

/* .color_back {
    position: absolute;
    height: 35%;
    width: 100%;
    /* background-color:#d65ba38f; */

.cor-bg {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #0375a2;
    margin-top: -61vh;
}



main {
    width: 1168px;
    margin-top: 100px;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;


}

.caixa_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-top: 102px;
    width: 250px;
    height: 90%;

}

.caixa {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: groove white;
    border-width: 1px;
    border-bottom: groove white;
    border-width: 1px;

}


/* ALERTAS E CARDS*/

.caixa_direita {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
    color: aliceblue;
    font-size: 10px;

}




.container-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;




}




.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 40%;
    height: 170px;
    color: black;
    background-color: rgb(244, 244, 244);
    margin-bottom: 40PX;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.25);
}

.cards.legenda {

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 244, 244);
    justify-content: space-around;
}


.button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button_todos {
    margin-top: 10px;
}


.card_button {

    height: 40px;
    width: 80%;
    border: none;
    background-color: rgb(102, 95, 95, 0, 3);
    font-size: 15px;

    border-radius: 5px;
}

.button_li {

    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.cards_bullet_todos {
    display: none;
    width: 48px;
    height: 42px;
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(17, 196, 56, 0.8) 0%, rgba(197, 0, 0, 0.7) 90%, rgba(197, 0, 0, 0.7) 100%);
    position: relative;
}

.cards_bullet_resolvido {
    display: none;
    width: 48px;
    height: 42px;
    border-radius: 100px;
    background-color: rgba(17, 196, 56, 0.8);
    position: relative;
}

.cards_bullet_pendente {
    display: none;
    width: 48px;
    height: 42px;
    border-radius: 100px;
    position: relative;
    background-color: rgba(197, 0, 0, 0.7)
}



.titulo_legenda {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    color: #000000;
}

.legenda_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 200px;

}

.legenda_li {
    width: 80%;
    margin-left: -8px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    background-color: rgb(231, 231, 231, 0.4);
    flex-direction: row;
}

.container-alertas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 85%;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.25);
}



.container-alertas_pendentes {
    border: 3px red solid;
    margin-bottom: 20px;
    background-color: rgb(244, 244, 244);

}

.container-alertas_resolvidos {
    border: 3px green solid;
    background-color: rgb(244, 244, 244);
}

.container_titulo {
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;

}


.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;

    width: 100%;
    height: 80px;
    color: #000000;
}


.alerta_resolvido {
    background-color: rgb(236, 233, 233);

}

.alerta_pendente {
    background-color: rgb(255, 255, 255);

}

.alerta_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    height: 90%;
    width: 140px;



}

.alerta_ul_um {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.alerta_ul_seis {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

li {
    list-style: none;
}

.alerta_li {
    list-style: none;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

    font-size: 17px;

}

.titulo_alerta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    font-size: 17px;
    margin-top: 0px;

    margin-bottom: 25px;
    width: 229px;



}

.maquina {
    margin-top: -12px;
}

.cluster {
    margin-top: -12px;
}

.descricao_alerta {

    margin-top: -15px;
    margin-right: -40px;
    font-size: 15px;
}

.hora_alerta {
    list-style: none;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -10px;
    font-size: 15px;
}

.button_status {
    margin-top: -20px;
    width: 30px;
    height: 30px;
    border-radius: 40px;

}

.resolvido {
    background-color: green;
    background-image: url(../assets/style-all/check.png);
    background-size: 110%;
    margin-right: -20px;

}

.resolvido:hover {
    background-color: rgb(0, 255, 13);
    opacity: 100%;
}

.pendente {
    background-color: rgba(197, 0, 0, 0.7);
    background-image: url(../assets/style-all/ampulheta.png);
    background-size: 200%;
    background-position: -13px;


}

.pendente:hover {
    background-color: rgba(197, 0, 0, 0.7);
    ;
}


.button_li {
    /* background-color: #2180cf; */
    height: 100px;

    align-items: start;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 10px;

}


/*************************************/
input {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background: none;
    outline: unset;
    font-size: 18px;
    text-shadow: 0px 0px 1px white;
    color: white;
    padding: 0 25px;
}

input::placeholder {
    color: rgba(171, 171, 171, 0.616)
}

button {
    /* border: none;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 30%;
    font-size: 17px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4199e1;
    box-shadow: 3px 4px rgb(99, 99, 99); */
    cursor: pointer;
}

button:hover {
    background-color: #2180cf;
    transition: 0.2s;
    box-shadow: 3px 4px rgb(81, 81, 81);
}



.btn_caixa {
    width: 100%;
    border: none;
    height: 100%;
    /* text-shadow: 1px 2px 0px  rgb(71, 69, 69); */
    color: white;
    background-color: #000000;
    /* box-shadow: 2px -1px 1px white; */
    font-size: 18px;

}

.btn_caixa:hover {
    box-shadow: 7px 8px 4px rgb(255, 246, 246);
}


.sair {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    color: white;

}


.sair:hover {
    cursor: pointer;
    background-color: rgba(59, 59, 59, 0.7);
}

.log-out {
    width: 20px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.renderwatch_logo_colorido {
    width: 200px;
    margin-left: 50px;
}





.div_Input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 5px;
}

.input_revelar_senha {

    width: 18px;

    margin-left: -25px;
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}


.div_telefone {
    flex-direction: row;
    align-items: center;
}

.DDD {
    width: 20%;
    margin-right: 5px;
}

.numero {
    width: 20%;
    margin-left: 5px;
    font-size: 14px;

}

.complemento {
    width: 43%;
    margin-left: 5px;
    font-size: 14px;
}

.uf {
    width: 10%;
    margin-right: 5px;
    font-size: 14px;
}


/* LINKS E ESTILIZAÇÃO LINKS */
a {
    height: 100%;
    text-decoration: none;
}

.a_sair {}

.a_btn_caixa {
    width: 100%;
}


/*//////////////////////  IMAGENS  ////////////////////////////////*/
.alerta_icone {
    margin-top: -20px;
    width: 30px;
}

.alerta_icone_card {
    width: 30px;
}