* {
    margin: 0%;
    font-family: 'Trebuchet MS';

}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('../fonts/trebuched_ms.woff') format('woff');
}

body {
    width: 1100px;
background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: start;
    flex-direction: column;

}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: groove #fffdfd;
    border-width: 1px;
    position: fixed;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-between;
}



main {
    width: 100%;
    margin-top: 100px;
    margin-left: 260px;
   
    display: flex;
  
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.caixa_esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-top: 102px;
    width: 250px;
    height: 100%;

}

.caixa {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: groove white;
    border-width: 1px;
    border-bottom: groove white;
    border-width: 1px;

}


/* CADASTO DO CLUSTER */

.caixa_direita {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    color: aliceblue;
    
    font-size: 20px;

}


.cadastro_maquina{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 80%;
height: 90px;
border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
background-color: rgb(110, 255, 129);
box-shadow: -2px 2px 5px black;
}



.label_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  
   
  
}

.input_cadastro{
width: 60%;
border: none;
background-color: #ffffff;

}
.input_cadastro::placeholder{
    color: black;
}

.button_adicionar{
    height: 100%;
    width: 100px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: rgb(110, 255, 129);
}

/*///////////////////////////////////////////////////////////////////*/



/* TODOS CLUSTER */

.all_maquinas{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 80%;
 border-radius: 10px;
 background-color: rgb(255, 255, 255);
 border: #0bacce groove;
}

.cluster{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 80%;
height: 90px;
border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
background-color: rgb(255, 255, 255);
box-shadow: -2px 2px 5px black;
 
 width: 80%;  
}

.titulo_maquinas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 229px;
 background-color: #0bacce;
 width: 100%;
 border-top-right-radius: 10px;
border-top-left-radius: 10px;
 
   
   

}

.label_maquina{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  
   
  
}

.input_cadastro{
width: 50%;
border: none;
background-color: #0bacce;
margin-left: 10px;

}
.input_cadastro::placeholder{
    color: black;
    font-size: 16px;
}

.button_cluster{

}

.button_excluir{
    height: 100%;
    width: 100px;
   
    border: none;
    background-color: rgb(110, 255, 129);
}


.button_editar{
    height: 100%;
    width: 100px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: rgb(110, 255, 129);
}



/*///////////////////////////*/

.container-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;



}




.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    width: 400px;
    height: 200px;
    color: black;
    background-color: #fffdfd;
    margin-bottom: 40PX;
    border: #2180cf groove;
}

.cards.legenda {
    width: 440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



.card_button {
    width: 90%;
    height: 40px;
    border: none;
    background-color: rgb(102, 95, 95,0,3);
    font-size: 25px;
    margin-left: -70px;
    border-radius: 100px;
}

.button_li {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    
}

.cards_bullet_todos {
    width: 48px;
    height: 42px;
    border-radius: 100px;
    background: linear-gradient(90deg,  rgba(17, 196, 56, 0.8) 0%, rgba(197, 0, 0, 0.7) 90%, rgba(197, 0, 0, 0.7) 100%);
    position: relative;
}

.cards_bullet_resolvido {
    width: 48px;
    height: 42px;
    border-radius: 100px;
    background-color: rgba(17, 196, 56, 0.8);
    position: relative;
}

.cards_bullet_pendente {
    width: 48px;
    height: 42px;
    border-radius: 100px;
    position: relative;
        background-color: rgba(197, 0, 0, 0.7)
    }

.card_button.button_todos {}

.card_button.button_resolvido {}

.card_button.button_pendente {}


.titulo_legenda {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 23px;
    color: #bd5757;
}

.legenda_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;

}

.legenda_li {
    width: 160px;
    margin-left: -8px;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    background-color: rgb(231, 231, 231, 0.4);
    flex-direction: row;
}

.container-alertas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 85%;
    border-radius: 10px;
border: #2180cf groove;



}

.container-alertas_pendentes {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;


}

.container-alertas_resolvidos {
    background-color: aliceblue;

}

.container_titulo {
    text-decoration: underline 2px;
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    margin-top: 10px;

}


.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;

    width: 1430px;
    height: 150px;
    color: #000000;
}

.alerta_resolvido {
    background-color: rgba(17, 196, 56, 0.8);

}

.alerta_pendente {
    background-color: rgba(197, 0, 0, 0.7);

}

.alerta_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(255, 255, 255, 0.6);
    height: 90%;
    width: 194px;



}

.alerta_ul_um {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.alerta_ul_seis {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

li {
    list-style: none;
}

.alerta_li {
    list-style: none;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -40px;
    font-size: 22px;

}



.descricao_alerta {

    margin-top: -10px;

}

.hora_alerta {
    list-style: none;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -40px;
    font-size: 20px;
}

.button_status {
    width: 47px;
    height: 45px;
    border-radius: 40px;

}

.resolvido {
    background-color: green;
    background-image: url(../assets/style-all/check.png);
    background-size: 110%;
}

.pendente {
    background-color: rgba(197, 0, 0, 0.7);
    background-image: url(../assets/style-all/ampulheta.png);
    background-size: 180%;
    background-position: -18px;
}




/*************************************/
input {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background: none;
    outline: unset;
    font-size: 18px;
    text-shadow: 0px 0px 1px white;
    color: rgb(0, 0, 0);
    padding: 0 25px;
}



button {
    /* border: none;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 30%;
    font-size: 17px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4199e1;
    box-shadow: 3px 4px rgb(99, 99, 99); */
    cursor: pointer;
}

button:hover {
    background-color: #2180cf;
    transition: 0.2s;
    box-shadow: 3px 4px rgb(81, 81, 81);
}



.btn_caixa {
    width: 100%;
    border: none;
    height: 100%;
    /* text-shadow: 1px 2px 0px  rgb(71, 69, 69); */
    color: white;
    background-color: #000000;
    /* box-shadow: 2px -1px 1px white; */
    font-size: 18px;

}

.btn_caixa:hover {
    box-shadow: 7px 8px 4px rgb(255, 246, 246);
}


.sair {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    color: white;

}


.sair:hover {
    cursor: pointer;
    background-color: rgba(59, 59, 59, 0.7);
}

.log-out {
    width: 20px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.renderwatch_logo_colorido {
    width: 200px;
    margin-left: 50px;
}





.div_Input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 5px;
}

.input_revelar_senha {

    width: 18px;

    margin-left: -25px;
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}


.div_telefone {
    flex-direction: row;
    align-items: center;
}

.DDD {
    width: 20%;
    margin-right: 5px;
}

.numero {
    width: 20%;
    margin-left: 5px;
    font-size: 14px;

}

.complemento {
    width: 43%;
    margin-left: 5px;
    font-size: 14px;
}

.uf {
    width: 10%;
    margin-right: 5px;
    font-size: 14px;
}


/* LINKS E ESTILIZAÇÃO LINKS */
a {
    height: 100%;
    text-decoration: none;
}

.a_sair {}

.a_btn_caixa {
    width: 100%;
}


/*//////////////////////  IMAGENS  ////////////////////////////////*/
.alerta_icone {
    width: 40px;
}