
body {
    background-color: #e8e9ea;
}

.cor-bg {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #0375a2;
}

.container-card{
    display: flex;
    position: absolute;
    width: 88%;
    height: 86%;
    margin-top: 90px;
    margin-left: 180px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 40%;
    background-color: rgb(244, 244, 244);
    color: rgb(19, 19, 19);
    border-radius: 16px;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.25); 
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.25);
}

.inputs-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.inputs-card label{
    font-size: 1.1rem;
}

.inputs-card input {
    border: 1px solid rgb(35, 35, 35);
    background-color: rgb(244, 244, 244);
    height: 32px;
    width: 240px;
    border-radius: 2px;
    padding: 0 3%;
}

.btn-cadastrar-card {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #026583;
    color: rgb(237, 237, 237);
    cursor: pointer;
    padding: 2%;
    font-size: 0.9rem;
    transition: 0.2s;
}

.btn-cadastrar-card:hover {
    transition: 0.2s;
    background-color: #0bacce;
    color: white;
}

.btn-cadastrar-card:active {
    background-color: #1094af;
    transform: translateY(4px);
    transition: 0.2s;
  }