
.container-card{
    display: flex;
    position: absolute;
    width: 88%;
    height: 86%;
    margin-top: 90px;
    margin-left: 180px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 40%;
    background-color: rgb(65, 65, 65);
    border: 1px solid #7a7a7a;
    color: rgb(237, 237, 237);
}

.inputs-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.inputs-card input {
    border: none;
    height: 32px;
    width: 240px;
    border-radius: 2px;
    padding: 0 3%;
}

.btn-cadastrar-card {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #026583;
    color: rgb(237, 237, 237);
    cursor: pointer;
    padding: 2%;
    font-size: 0.9rem;
    transition: 0.2s;
    box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.4);
}

.btn-cadastrar-card:hover {
    transition: 0.2s;
    background-color: #0bacce;
    color: white;
    box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.9);
}

.btn-cadastrar-card:active {
    background-color: #1094af;
    box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.4);
    transform: translateY(4px);
    transition: 0.2s;
  }