
body {
    background-color: #e8e9ea;
}

.cor-bg {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #e2d548;
}

.container-card{
    display: flex;
    position: absolute;
    margin-top: 160px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 180px;
    margin-bottom: 60px;
    padding: 5vh 12vw;
    background-color: rgb(244, 244, 244);
    color: rgb(19, 19, 19);
    border-radius: 16px;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.25); 
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.25);
}

.container-titulo-card {
    margin-top: 5px;
    margin-bottom: 35px;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 26vw;
    margin-top: 7%;
    margin-bottom: 2%;
}

.container-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.container-btn-cadastrar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-cadastrar {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 12px;
    background-color: white;
    border: 2px solid rgb(214, 212, 80);
    color: black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-cadastrar:hover{
    background-color: rgb(235, 233, 119);
    transition: 0.2s;
    border: 2px solid rgb(44, 44, 44);
}


.div-info{
    height: 40%;
    width: 100%;
}

.container-info-empresa{
    border-top: 1px solid grey;
}

.info-empresa{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-content{
    font-size: 1.1rem;
}
.titulo{
    font-weight: 900;
    font-size: 1.35rem;
}
.btn-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
    padding: 10px;
    background-color: white;
    border: 2px solid rgb(214, 212, 80);
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.2s;
    margin-left: 58px;
    cursor: pointer;
}
.btn-edit:hover{
    background-color: rgb(235, 233, 119);
    transition: 0.2s;
    border: 2px solid rgb(44, 44, 44);
}

.btn-excluir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 6px;
    background-color: white;
    border: 2px solid red;
    color: black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}
.btn-excluir:hover{
    background-color: red;
    color: white;
    transition: 0.2s;
    border: 1px solid black;
}

.div-btn-excluir{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
    margin-top: 6vh;
}