
body {
    background-color: #e8e9ea;
}

.cor-bg {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #0375a2;
}

.container-card{
    display: flex;
    position: absolute;
    margin-top: 160px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 180px;
    margin-bottom: 60px;
    padding: 6vh 10vw;
    background-color: rgb(244, 244, 244);
    color: rgb(19, 19, 19);
    border-radius: 16px;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.25); 
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.25);
}

.card h1 {
    margin-top: 1vh;
    margin-bottom: 8vh;
    font-size: 2rem;
}

.nome-cluster{
    font-size: 1.5rem;
}

.inputs-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35vh;
    margin-top: 7%;
    margin-bottom: 7%;
}

.inputs-card label{
    font-size: 1.1rem;
}

.inputs-card input {
    border: 1px solid rgb(35, 35, 35);
    background-color: rgb(244, 244, 244);
    height: 32px;
    width: 240px;
    border-radius: 2px;
    padding: 0 3%;
}

  table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #0bacce;
    color: white;
}

.tabela-cluster{
    width: 100%;
}

.info-titulo-cluster{
    display: flex;
    justify-content: space-between;
}

.info-btn-cluster{
    display: flex;
}

.btn-deletar{
    margin-left: 20px;
}

.btn-edit-maquina {
    display: flex;
    margin-left: 6px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #0bacce;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-edit-maquina:hover{
    background-color: #bfd1d4;
    transition: 0.2s;
    border: 1px solid #0079a1;
}

.btn-edit-maquina-vermelho {
    display: flex;
    margin-left: 6px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #0bacce;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-edit-maquina-vermelho:hover{
    background-color: #e0cece;
    transition: 0.2s;
    border: 1px solid #9d0c0c;
}

.btn-edit{
    display: flex;
    margin-left: 6px;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #0bacce;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-edit:hover{
    background-color: #bfd1d4;
    transition: 0.2s;
    border: 1px solid #0079a1;
}

.btn-edit-vermelho {
    display: flex;
    margin-left: 6px;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #0bacce;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-edit-vermelho:hover{
    background-color: #e0cece;
    transition: 0.2s;
    border: 1px solid #9d0c0c;
}

.btn-maquina{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-btn-add-maquina{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.btn-add-maquina {
    display: flex;
    margin-left: 6px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #0bacce;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-add-maquina:hover{
    background-color: #bfd1d4;
    transition: 0.2s;
    border: 2px solid #0079a1;
}

.btn-add-cluster{
    display: flex;
    margin-left: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 133, 178);
    border: none;
    color: rgb(244, 244, 244);
    border-radius: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.btn-add-cluster:hover{    
    background-color: #12556b;
    transition: 0.2s;
}