
body {
  background-color: #e8e9ea;
}

.cor-bg {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: rgba(214, 91, 162, 1);
}




h1,
h3 {
  margin: 0;
  text-align: center;
}

h2{
  margin: 25px;
  text-align: center;
}

.spaceTop {
  margin-top: 11vh;
}

main {
  max-width: 54vw;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  margin-left: 27vw;
  margin-bottom: 60px;
  padding: 10vh 8vw;
  background-color: rgb(244, 244, 244);
  color: rgb(19, 19, 19);
  border-radius: 16px;
  -webkit-box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.25);
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="email"],
form input[type="checkbox"] {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
}

.btn-registrar-admin {
  background-color: #50a9cc;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 1vw;
  margin-left: 1vw;
}

.btn-registrar-user {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 1vw;
  margin-left: 1vw;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  background-color: #333;
  color: #fff;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.btn-excluir {
  background-color: #f44336;
}

.btn-excluir:hover {
  background-color: #d32f2f;
}

.btn-admin {
  background-color: #2d9bc7;
}

.btn-user {
  background-color: #2da831;
}