@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*No site institucional*/

header {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 999;
}

.menu {
  margin-left: 65%;
  width: 25%;
  margin-top: 45px;
}

.header-index {
  margin-left: 85%;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu span {
  color: white;
  text-decoration: none;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  font: 12px;
  cursor: pointer;
}

.link img{
  cursor: pointer;
}

.link:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

#div-header-logo {
  margin-top: -60px;
  margin-left: 20px;
  display: flex;
  height: 200%;
  width: 20px;
  z-index: 999;
  color: white;
}

.forum-icon{
  width: 30px; 
  padding: 5px; 
  margin-left: 12px;
}

.download-icon{
  width: 30px; 
  padding: 5px; 
  margin-left: 20px;
}

.account-icon{
  width: 30px; 
  padding: 5px; 
  margin-left: 5px;
}

@media only screen and (max-width: 1100px) {
  .menu {
    width: 30%;
    margin-top: 45px;
  }

  .header-index {
    margin-left: 80%;
  }

}

@media only screen and (max-width: 800px) {
  .menu {
    width: 35%;
    margin-top: 45px;
    font-size: 15px;
  }

  .header-index {
    margin-left: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 35%;
    margin-top: 45px;
    font-size: 13px;
  }

  .header-index {
    margin-left: 72%;
  }
}


@media only screen and (max-width: 500px) {
  .renderwatch-header {
    display: none;
    visibility: hidden;
  }

  .menu {
    width: 52%;
    margin-top: 45px;
  }

}

@media only screen and (max-width: 350px) {

  .menu {
    width: 60%;
    margin-top: 45px;
  }

  .header-index {
    margin-left: 62%;
  }

}

body {
  background-color: rgb(28, 28, 28);
}

footer {
  background-color: black;
  padding: 45px 0;
}

footer .container {
  padding: 0px 0;
  justify-content: center;
}

footer .container ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

footer .container li {
  padding: 0 10px;
}

footer .container ul a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

footer .container ul a:hover {
  opacity: 1;
}

footer .container .social {
  text-align: center;
  padding-bottom: 25px;
}

footer .container p {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

footer .container .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: white;
  opacity: 0.75;
}

footer .container .social>a:hover {
  opacity: 0.9;
}



/* Dentro do perfil*/ 

.btn-nao-admin {
  pointer-events: none;
  opacity: 0.3;
  background-color: rgba(0, 0, 0, 0.3);
}

.link {
  margin-top: -25px;
  margin-left: 12px;
}


.perfil-configuracoes-icon{
  width: 30px; 
  padding: 5px; 
  margin-left: 35px;
}

.perfil-logout-icon{
  width: 30px; 
  padding: 5px; 
  margin-left: 0px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 180px;
  background-color: #43484a;
  -webkit-box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.25); 
box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.25);
z-index: 9;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  width: 100%;
  align-items: center;
  margin-top: 100px;
  list-style: none;
}

.sidebar ul li{
  width: 100%;
}


.sidebar-element {
  color: #f8f8f8;
  list-style: none;
  font-size: 1.18rem;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 9vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6vh;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  background-image: -webkit-linear-gradient(45deg, rgba(246, 246, 246, 0.6) 50%, rgba(76, 76, 76, 0) 50%);
  background-image: linear-gradient(45deg, rgba(246, 246, 246, 0.6) 50%, rgba(76, 76, 76, 0) 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}

.sidebar-element:hover {
  background-position: 0;
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 6px 2px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 25px 5px rgba(0, 0, 0, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.4s;
}