@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 999;
}

#div-header-logo {
  margin-top: -60px;
  margin-left: 20px;
  display: flex;
  height: 200%;
  width: 20px;
  z-index: 999;
  color: white;
}

@media only screen and (max-width: 500px) {
.renderwatch-header {
display: none;
visibility: hidden;
}
}

body {
  background-color: rgb(28, 28, 28);
}

footer {
  background-color: black;
  padding: 45px 0;
}

footer .container {
  padding:0px 0;
  justify-content: center;
}

footer .container ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

footer .container li {
  padding: 0 10px;
}

footer .container ul a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

footer .container ul a:hover {
  opacity: 1;
}

footer .container .social {
  text-align: center;
  padding-bottom: 25px;
}

footer .container p {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

footer .container .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: white;
  opacity: 0.75;
}

footer .container .social>a:hover {
  opacity: 0.9;
}