@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 999;
}

#div-header-logo {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    height: 50%;
    width: 20px;
    z-index: 999;
    color: white;
}

body {
    background-color: rgb(28, 28, 28);
}